numpy
tqdm
wandb
einops
requests
fabric
optax
dm-haiku
git+https://github.com/EleutherAI/lm-evaluation-harness/
ray[default]
jax
Flask
cloudpickle
tensorflow-cpu
google-cloud-storage
transformers
smart_open[gcs]
func_timeout
ftfy
fastapi
uvicorn
lm_dataformat
pathy
